<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/home.css">

<div class="jumbotron text-white">
    <h1 class="display-4">Hello Campers!</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa recusandae repudiandae ex nobis dolores eveniet voluptas quo. Expedita eum, placeat dolores inventore illo beatae excepturi aliquid ut ex consequuntur.
    Quibusdam dolorem eligendi et. Ex architecto accusamus odit quaerat ullam. Numquam reprehenderit laboriosam quo impedit adipisci aliquam quibusdam cupiditate, et consequatur enim debitis porro inventore, ad culpa, reiciendis totam nemo?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sint, fugiat id voluptatum maxime omnis facilis delectus iste illum, velit nihil non sed nam ut ipsam quasi inventore obcaecati. Culpa!
    Quia hic, provident nemo ipsa veniam ex delectus dolorum aliquam, voluptas impedit totam natus, odio maxime reprehenderit sapiente aliquid. Sequi expedita ipsum amet saepe, modi voluptatum doloremque voluptates aperiam eos!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti officia quidem quasi accusantium eligendi aperiam dolorem eius? Id molestiae omnis facilis aspernatur iure accusantium atque nisi! Nesciunt quod vitae earum.
    Repellat tempora aut in saepe quis labore, pariatur ratione sequi quaerat. Ullam enim inventore facere ratione fuga architecto, soluta exercitationem consectetur, et maxime animi deserunt quae in unde, nostrum quis!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti officia quidem quasi accusantium eligendi aperiam dolorem eius? Id molestiae omnis facilis aspernatur iure accusantium atque nisi! Nesciunt quod vitae earum.
    Repellat tempora aut in saepe quis labore, pariatur ratione sequi quaerat. Ullam enim inventore facere ratione fuga architecto, soluta exercitationem consectetur, et maxime animi deserunt quae in unde, nostrum quis!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campsites" role="button">Check all the Campsites</a>
    </p>
  </div>