<% layout('/layouts/boilerplate')%>
<link rel="stylesheet" href="/styles/home.css">

<div class="jumbotron text-white">
    <h1 class="display-4">Hello Campers!</h1>
    <hr class="my-4">
    <p class="lead">Here you will find information about campsites in Ireland. You can browse campers' reviews and ratings or just information about the campsites. Everyone is welcome to add a campsite they have visited. Anyone looking for their dream campsite would benefit from any details added on this website.</p>
    <hr class="my-4">
    <p>The time has never been more right for a camping holiday in this beautiful country. An increasing number of families are now considering holidaying in Ireland. A camping staycation.</p>
    <p>The desire to leave a smaller carbon footprint on the planet makes staying closer to home for your annual holiday, a very inviting prospect. The high cost of fuel, both to our own pockets and to the environment, means that long journeys are increasingly unappealing.    A camping staycation in Ireland allows families to enjoy a wonderful break with the smug and self-satisfied knowledge that they are not contributing further to climate change, pollution or toxic emissions.  Of course, the fact that we have the most awesome scenery and incredibly beautiful places to pitch your tent, makes the sacrifice of staying home, a very easy one to make.</p>
    
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campsites" role="button">Check all the Campsites</a>
    </p>
  </div>