body {

   background-image: url("https://images.unsplash.com/photo-1594239966928-872754b59df0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}